<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orders</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="orders.length">
    <ion-item
      *ngFor="let order of orders"
      [routerLink]="['/order-detail']"
      [queryParams]="{ id: order.id }"
    >
      <ion-label>
        <h2>Order #{{ order.order_number }}</h2>
        <p>Status: {{ order.status }} | Payment: {{ order.payment_status }}</p>
        <p>Total: {{ order.total_amount }} {{ order.currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
