<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Product detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Product detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="product">
    <ion-item>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Type: {{ product.type }}</p>
        <p>Price: {{ product.price }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="addToCart()" [disabled]="adding || !product">
    Add to cart
  </ion-button>

  <ion-button
    expand="block"
    color="secondary"
    [routerLink]="['/booking-create']"
    *ngIf="product"
    [queryParams]="{ product_id: product.id }"
  >
    Book now
  </ion-button>
</ion-content>
